body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #252a25;
    padding-top: 3vh;
}

h1 {
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 320px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 2px solid #333;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

#status {
    font-size: 1.5em;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px; 
}

button:hover {
    background-color: #0056b3;
}

.win-cell {
    background-color: plum; /* Highlight color */
    transition: background-color 0.5s ease-in-out;
}

